
<div class="card my-2">
  <div class="card-header"> <i class="fa fa-user" aria-hidden="true"></i> <span class=" text-success font-weight-bold fs-2">{{user.userName}}</span>  <span class=" text-info font-weight-bold float-end">{{ format_date date_created}}</span> </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    
    <p class="card-text">{{plot}}</p>
  </div>
      <div >
      <i data-reaction="like" data-id="{{id}}" class="reaction btn fas fa-thumbs-up fs-5 text-success"> 99</i>
      <i data-reaction="dislike" data-id="{{id}}" class="reaction btn fas fa-thumbs-down fs-5 text-danger float-end">22</i>
<div id="alertMessage" class=" small m-2"></div>

    </div>
</div>
