<div class="row align-items-center MovieCard">
<div class="card m-2 col-xs-12 col-md-4 opacity-75">
  <div class="card-header"> <i class="fa fa-user" aria-hidden="true"></i> <span class=" text-success font-weight-bold fs-5">{{user.userName}}</span>  <span class=" text-info font-weight-bold float-end">{{ format_date date_created}}</span> </div>
  <div class="card-body">
    <h5 class="card-title">{{title}} <span class="float-end text-red-900">{{year}}</span></h5>
 
    <h6 class="card-text">Actors: <small class="text-muted text-justify-right">{{actors}}</small></h6>
    <h6 class="card-text">Genre: <small class="text-muted text-justify-right">{{genre}}</small></h6>
    <i class="fa fa-star" aria-hidden="true"></i><span class="card-text">{{rating}}</span>
    <hr>

      <div >
      <i data-reaction="like" data-id="{{id}}" class="reaction btn fas fa-thumbs-up fs-5 text-success"> {{likes_count}}</i>
      <i data-reaction="dislike" data-id="{{id}}" class="reaction btn fas fa-thumbs-down fs-5 text-danger float-end"> {{dislikes_count}}</i>
<div id="alertMessage" class=" small m-2"></div>

    </div>
  </div>

</div>

<div class=" col-xs-12 col-md-3 justify-content-center text-center p-3 opacity-50">
  {{!-- <div class="card-body"> --}}
    <img class="img-thumbnail" src="{{posterLink}}" style="width:200px" alt="postyer link">    
  {{!-- </div> --}}
</div>
  <div class=" col-xs-12 col-md-4 text-center">
  <i class="fas fa-video"></i>
  <iframe class="img-thumbnail " src="{{trailerLink}}" allowfullscreen></iframe>
</div>
</div>