   {{>navbar }}
    {{#if message}}
   <div id="alertMessage" class=" alert bg-green-800 text-green-200 alert-dismissible fade show m-2" role="alert">
  <strong><i class="fas fa-exclamation-triangle"></i></strong> <span>{{message}}</span> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<ol class="list-group container d-flex justify-content-center  ">
  {{#each movies as |movie|}}
  <li class="list-group-item my-2 bg-gray-400">
    {{> movie-detail movie }}
   
 <p class="my-4"><i class="fas fa-comment text-gray-800 fs-5"> Comments</i></p>
 <div class="input-group">
     <textarea  class="form-control"  id="comment{{movie.id}}" aria-label="With textarea" placeholder="write your comment here!"></textarea>
  <span class="input-group-text"><i  id="movie{{id}}" data-username="{{../userName}}" data-id="{{movie.id}}"  class="btn replyBtn fas fa-reply text-green-900 "></i></span>
</div>
   <div  class="container comments-container{{movie.id}}">
    {{#each movie.comments as |cmnt| }}
        {{> comment cmnt}}
    {{/each}}
    </li>
  {{/each}}
</div>
</ol>
