{{>navbar }}
<div id="alertMessage" class=" m-2"></div>

<div class="alert alert-danger" role="alert">
  <span class="fs-4"><i class='fas fa-user-check' style='font-size:28px;color:red'></i> {{currentUser.userName}}</span>
<div class="dropdown float-end ">
  <button class="btn bg-yellow-400 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Profile Settings
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/username">Change Username</a></li>
    <li><a class="dropdown-item" href="/password">Change Password</a></li>
    <li><a class="dropdown-item" href="/email">Change Email</a></li>
    <li><a class="dropdown-item" href="/apikey">Change Api Key</a></li>
  </ul>
</div>
</div>
<a class="btn text-yellow-700 bg-yellow-400 float-end" href="/search"><i class="fas fa-plus-circle text-yellow-800"></i> Add movie</a>

<div class="row  p-4">
{{#each blogMovies}}

    <div class="card m-2 col-4 bg-yellow-100" style="width: 18rem;">
      <p class=" d-none " id="movie-id">{{id}}</p>
<div >
   <button data-id="{{id}}" type="submit" class="btn float-end deleteMovie "><i class="fa fa-trash text-red-500" aria-hidden="true"></i> {{id}}</button>
 
</div>


  <img class="card-img-top" src="{{posterLink}}" alt="Card image cap">
  <div class="card-body ">
    <h5 class="card-title">{{title}}<small class="text-muted text-justify-right">  {{year}}</small></h5>
    <h6 class="card-text">Actors: <small class="text-muted text-justify-right">{{actors}}</small></h6>
    <h6 class="card-text">Genre: <small class="text-muted text-justify-right">{{genre}}</small></h6>
    <i class="fa fa-star" aria-hidden="true"></i><span class="card-text">{{rating}}</span>
    <hr>


  </div>
</div>
{{/each}}
</div>